/* Restablecer márgenes y padding predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* Estilo para el encabezado */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilo para la navegación */
nav ul {
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo para el contenido principal */
main {
    padding: 20px;
    text-align: center;
}

main h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

main p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Estilo para las secciones */
section {
    margin-bottom: 40px;
}

/* Estilo para el pie de página */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

